[Unit]
Description=Auto Update With Topgrade Timer
Wants=network-online.target

[Timer]
RandomizedDelaySec=30min
OnUnitInactiveSec=3h
Persistent=true

[Install]
WantedBy=timers.target